---
Checks: >
    -*,
    coreguidelines-*,
    misc-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    readability-*,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix
WarningsAsErrors:      ''
HeaderFilterRegex:     '.*/src/libs/.*'
AnalyzeTemporaryDtors: true
CheckOptions:
  - key:               modernize-use-nullptr.NullMacros
    value:             'NULL'
...
