[submodule "src/externals/gsl"]
	path = src/externals/gsl
	url = https://github.com/Microsoft/GSL
[submodule "src/externals/eigen"]
	path = src/externals/eigen
	url = https://github.com/bfierz/eigen-git-mirror.git
[submodule "src/externals/abseil"]
	path = src/externals/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "src/externals/cctz"]
	path = src/externals/cctz
	url = https://github.com/google/cctz.git
[submodule "src/externals/memory"]
	path = src/externals/memory
	url = https://github.com/foonathan/memory
[submodule "src/externals/fmtlib"]
	path = src/externals/fmtlib
	url = https://github.com/fmtlib/fmt/
[submodule "src/externals/spdlog"]
	path = src/externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/externals/gbenchmark"]
	path = src/externals/gbenchmark
	url = https://github.com/google/benchmark
[submodule "src/externals/googletest"]
	path = src/externals/googletest
	url = https://github.com/google/googletest
[submodule "src/externals/json"]
	path = src/externals/json
	url = https://github.com/nlohmann/json
[submodule "src/externals/EGL"]
	path = src/externals/EGL
	url = https://github.com/bfierz/EGL
