language: cpp
branches:
  only:
    - master
os: linux
dist: trusty
env:
  - compiler='g++-6' build_type='Debug'
  - compiler='g++-6' build_type='Release'
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - boost-latest
    packages:
    - g++-6
    - libboost-all-dev
install:
  - EIGEN_VERSION=3.2.8
  - EIGEN_HASH=07105f7124f9
  - wget --quiet "http://bitbucket.org/eigen/eigen/get/${EIGEN_VERSION}.tar.gz"
  - tar -xzf ${EIGEN_VERSION}.tar.gz

  - wget --no-check-certificate https://www.cmake.org/files/v3.3/cmake-3.3.1-Linux-x86_64.tar.gz
  - tar -xzf cmake-3.3.1-Linux-x86_64.tar.gz
  - export CC='gcc-6'
  - export CXX=$compiler
script:
  - mkdir $CXX && cd $CXX
  - ../cmake-3.3.1-Linux-x86_64/bin/cmake -DCMAKE_BUILD_TYPE=$build_type -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic -Wno-parentheses" -DVCL_BUILD_BENCHMARKS:BOOL=off -DVCL_BUILD_TESTS:BOOL=on -DVCL_BUILD_TOOLS:BOOL=off -DVCL_BUILD_EXAMPLES:bool=off -DVCL_VECTORIZE_SSE4_1:bool=on -DVCL_EIGEN_DIR:path=../eigen-eigen-${EIGEN_HASH}/ ../src
  - cd ./tests/vcl.core
  - make
  - ls -l .
  - ./vcl_core_test
